<div class="wrapper">

  <header-bar></header-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{Ctrl.current_view}}
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <style>
      .box-body
      {
        overflow-x:scroll;
      }
    </style>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Dispute Detail</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <p>Dispute for order ID: {{Ctrl.dispute.orderId}} - created at: {{Ctrl.dispute.created_at | date:'medium'}}</p>
			    		<p>Status: {{Ctrl.dispute.status}}</p>

			    		<div class="dispute-message">
				    		<div class="comment panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Comments ({{Ctrl.dispute.messages.length}})</h3>
									</div>
									<div class="panel-body">
										<ul class="list-reviews">
											<li style="list-style-type: none" ng-repeat="comment in Ctrl.dispute.messages">
												<div class="media">
													<div class="media-left">
														<a href="#">
															<img style="border-radius: 30px" alt="{{comment.ownerId.name}}" src="{{comment.ownerId | avatarUrl}}" class="media-object">
														</a>
													</div>
													<div class="media-body">
														<h4 class="media-heading"><a href="#">{{comment.ownerId.name}}</a></h4>
														{{comment.text}}
														<br>
													</div>
												</div>
											</li>
										</ul>
										<form ng-submit="Ctrl.postComment(commentForm)" name="commentForm" novalidate>
											<div class="form-group">
												<textarea class="form-control" name="commentText" ng-model="Ctrl.commentText" required placeholder="Leave your comment"></textarea>

												<span style="color: red" ng-show="Ctrl.submitted && commentForm.commentText.$error.required">Message is required</span>
											</div>
											<div class="form-group">
												<button type="submit">Send</button>
											</div>
										</form>
									</div>
								</div>
				    	</div>
            </div>
          </div>

          <!-- /.content -->
        </div>
      </div>
    </section>
    <!-- /.content-wrapper -->

    <footer-bar></footer-bar>
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
