<div class="wrapper">

  <header-bar></header-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add new prime subscription
      </h1>
      <ol class="breadcrumb">
        <li><a href="#!/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <!-- /.box-header -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="Ctrl.submit(myForm)" name="myForm" novalidate="">
              <div class="box-body">
              	<div class="form-group">
              		<label>Radius (km) <span class="liked">(*)</span></label>
              		<input class="form-control" positive type="number" name="radius" required ng-model="Ctrl.primesubscription.radius">

              		<span class="text-danger" ng-show="myForm.radius.$error.required && Ctrl.submitted">Radius distance is required</span>
              	</div>

              	<div class="form-group">
              		<label>Hours <span class="liked">(*)</span></label>
              		<input class="form-control" positive type="number" name="hours" required ng-model="Ctrl.primesubscription.hours">

              		<span class="text-danger" ng-show="myForm.hours.$error.required && Ctrl.submitted">Hours is required</span>
              	</div>

              	<div class="form-group">
              		<label>Extra pay <span class="liked">(*)</span></label>
              		<input class="form-control" positive type="number" name="extraPay" required ng-model="Ctrl.primesubscription.extra_pay">

              		<span class="text-danger" ng-show="myForm.extraPay.$error.required && Ctrl.submitted">Extra pay is required</span>
              	</div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" ng-click="Ctrl.reset()">Reset</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->


        </div>

        <!-- /.content -->
      </div>
    </section>
    <!-- /.content-wrapper -->

    <footer-bar></footer-bar>
  </div>
</div>
<!-- ./wrapper -->
